<div class="header-img-container">
    <img class="header-img" src="assets/images/Nyahemside-4.jpg">
</div>
<div class="container header-text">
    <div class="row">
        <h1 class="col">Beats Ideas</h1>
    </div>
</div>
<div class="whole-page pb-5">
    <section class="pt-5">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-4">
                    <h1>
                        Not for everyone
                    </h1>
                    <p>
                        That's right! All of these beats are for sale only with 100% exclusivity. 
                        They are not only exclusive but they will also be tailor made and constructed 
                        along with the essence of the song. I strive for keeping a high production value 
                        and every beat is unique in it's style.
                        <br/>
                        <br/>
                        A spark to ignite a burst of creativity.
                        <br/>
                        <br/>
                        I want you to turn up the volume, feel the groove and let the melodies flow. 
                        When you've hit that spark, let me know!
                    </p>
                    <br/>
                    <p>
                        <i class="fa-sharp fa-solid fa-caret-right me-3"></i>
                        <span>Exclusive / No lease</span>
                    </p>
                    <p>
                        <i class="fa-sharp fa-solid fa-caret-right me-3"></i>
                        <span>Tailor made for the song structure</span>
                    </p>
                    <p>
                        <i class="fa-sharp fa-solid fa-caret-right me-3"></i>
                        <span>Different styles & genres</span>
                    </p>
                    <p>
                        <i class="fa-sharp fa-solid fa-caret-right me-3"></i>
                        <span>Vocal production included</span>
                    </p>
                </div>
                <div class="col-6">
                    <img class="page-img2" src="assets\images\Nyahemside-6.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <h2>Ref#0054 - EDM/Dark - Key: G - BPM:142</h2>
            </div>
            <div class="row">
                <audio controls src="assets\audio\IS0054.mp3"></audio>
            </div>
            <div class="row">
                <h2>Ref#0053 - Pop/Electronic - Key: B - BPM:87</h2>
            </div>
            <div class="row">
                <audio controls src="assets\audio\IS0053.mp3"></audio>
            </div>
            <div class="row">
                <h2>Ref#0052 - Dark pop/Hip Hop/Electronic - Key: Gb - BPM:130</h2>
            </div>
            <div class="row">
                <audio controls src="assets\audio\IS0052.mp3"></audio>
            </div>
            <div class="row">
                <h2>Ref#0051 - Pop/Funk/Electronic - Key: C - BPM:99</h2>
            </div>
            <div class="row">
                <audio controls src="assets\audio\IS0051.mp3"></audio>
            </div>
            <div class="row">
                <h2>Ref#0050 - Pop/Electronic - Key: F - BPM:115</h2>
            </div>
            <div class="row">
                <audio controls src="assets\audio\IS0050.mp3"></audio>
            </div>
        </div>
    </section>
</div>
