<div class="video-container container">
    <video appVideo class="bg-video" autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" loop>
        <source src="assets/videos/Website_Showreel6.mp4" type="video/mp4" />
    </video> 
</div>
<div class="overlay container">
    <div class="row text-row1">
        <h1 class="col">Music Production 
            <br> & Artist content creation </h1>
    </div>
    <div class="row text-row1">
        <h3 class="col">
            Your best friend in the creative process.
        </h3>
    </div>
    <div class="row text-row2">
        <div class="col-4">
            <span class="tick">
                <i class="fa-sharp fa-solid fa-circle-check"></i>
            </span>
            Music Production
        </div>
        <div class="col-8">
            <span class="tick">
                <i class="fa-sharp fa-solid fa-circle-check"></i>
            </span>
            Digital Content
        </div>
    </div>
    <div class="row text-row2">
        <div class="col-4">
            <span class="tick">
                <i class="fa-sharp fa-solid fa-circle-check"></i>
            </span>
            Video Production
        </div>
        <div class="col-8">
            <span class="tick">
                <i class="fa-sharp fa-solid fa-circle-check"></i>
            </span>
            Live Technician
        </div>
    </div>
</div>
