<div class="header-img-container">
    <img class="header-img" src="assets/images/Nyahemside-1.jpg">
</div>
<div class="container header-text">
    <div class="row">
        <h1 class="col">About</h1>
    </div>
</div>
<div class="whole-page pb-5">
    <section>
        <div class="container pt-5 mt-5">
            <div class="row justify-content-between align-items-center">
                <div class="col-6">
                    <h1>
                        <i class="fa-sharp fa-solid fa-music"></i>
                    </h1>
                    <br><br>
                    <h2>
                        My name is Isac Rosenberg
                    </h2>
                    <br><br>
                    <p>
                        I'm a producer and audio engineer with over 10 years of experience in the industry in Sweden. 
                        To create has not only been a passion, but also a necessity, just like for many others.
                    </p>
                    <br>
                    <p>
                        My drive is to work with the creative souls of this planet, which has led me 
                        through many years of self learning and to study audio engineering & production at SAE Institute.
                    </p>
                    <br>
                    <p>
                        My religion is that all criticism should be constructive and with that in mind; 
                        to improve the project that I'm working on, I will always speak my mind… with love.
                    </p>
                </div>
                <div class="col-4">
                    <img class="page-img about-me" src="assets\images\Oui-1.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
</div>