<div>
    <div class="video-container container">
        <video class="bg-video" autoplay="true" muted="true" loop="true" src="assets/videos/Website_Showreel6.mp4"></video>
    </div>
    <div class="overlay container">
        <div class="row text-row1">
            <h1 class="col">Music Production 
                <br> & Artist content creation </h1>
        </div>
        <div class="row text-row1">
            <h3 class="col">
                Your best friend in the creative process.
            </h3>
        </div>
        <div class="row text-row2">
            <div class="col-4">
                <span class="tick">
                    <fa-icon [icon]="faCircleCheck"></fa-icon>
                </span>
                Music Production
            </div>
            <div class="col-8">
                <span class="tick">
                    <fa-icon [icon]="faCircleCheck"></fa-icon>
                </span>
                Digital Content
            </div>
        </div>
        <div class="row text-row2">
            <div class="col-4">
                <span class="tick">
                    <fa-icon [icon]="faCircleCheck"></fa-icon>
                </span>
                Video Production
            </div>
            <div class="col-8">
                <span class="tick">
                    <fa-icon [icon]="faCircleCheck"></fa-icon>
                </span>
                Live Technician
            </div>
        </div>
    </div>
</div>
