<section>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col">
                <h2>
                    Take your project to the next level
                </h2>
                <p>
                    Much more than just music production. Iros Sounds helps labels and independent artists create 
                    marketing material of today's industry standards. 
                    It's a long road from idea to release, we better get to it…
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img class="img-fluid" src="assets\images\Nyahemside-5.jpg">
                <div>
                    <h4 class="mt-3 mb-2 ps-3 pe-3">
                        Music production
                    </h4>
                    <p class="ps-3 pe-3">
                        Doesn't matter if you're a solo artist looking for a beat or a band 
                        wanting to record your album, it'll sound amazing! 
                    </p>
                </div>
            </div>
            <div class="col-3">
                <img class="img-fluid" src="assets\images\Gimbal.png">
                <div>
                    <h4 class="mt-3 mb-2 ps-3 pe-3">
                        Video production
                    </h4>
                    <p class="ps-3 pe-3">
                        Need a music video, live session video, interview, lyric video or maybe a 
                        presentation for a festival? You're in the right light!
                    </p>
                </div>
            </div>
            <div class="col-3">
                <img class="img-fluid" src="assets\images\LiveTech.png">
                <div>
                    <h4 class="mt-3 mb-2 ps-3 pe-3">
                        Live technician
                    </h4>
                    <p class="ps-3 pe-3">
                        Great sound quality is a necessity in peoples lives. 
                        Especially when they want to enjoy their favourite artist on stage.
                    </p>
                </div>
            </div>
            <div class="col-3">
                <img class="img-fluid" src="assets\images\DigitalContent.png">
                <div>
                    <h4 class="mt-3 mb-2 ps-3 pe-3">
                        Digital Content
                    </h4>
                    <p class="ps-3 pe-3">
                        In the prime age of digital platforms it's important to have material to push to the fans. 
                        Graphics, animation, banners and more!
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 text-center mt-2 mb-2">
                <button class="btn btn-danger">See all services</button>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-5 mb-5">
        <div class="row align-items-center">
            <div class="col-5" id="button-img">
                <img class="img-fluid" src="assets\images\Nyahemside-7.jpg">
                <button class="btn btn-danger" id="img-button">
                    <fa-icon [icon]="faMusic"/>
                </button>            
            </div>
            <div class="col-5 ms-5">
                <h2 class="mt-3 mb-3">
                    Beats Ideas
                </h2>
                <h4>
                    Exclusive beats looking for talent
                </h4>
                <p class="mt-3">
                    Sometimes I get ideas. Ideas that develops into a potential spark for new ideas. 
                    Each one in it's unique style, waiting to fall into the hands of the 
                    right artist that can turn an idea into a great final product.
                </p>
                <button class="btn btn-danger">Hear samples</button>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <h2>Latest Video</h2>
        </div>
        <div class="row">
            <h4>Los Culitos Chicos - No Quiero Hacer Nada | Live Session</h4>
        </div>
    </div>
    <div class="container">
        <div class="video-embed mt-3">
            <iframe src="https://www.youtube.com/embed/9l4OZcPM-2w?si=cOlzNeqOZEg74sr-" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
            gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
        </div>
    </div>
</section>