<div class="header-img-container">
    <img class="header-img" src="assets/images/ServicesBackground-1.jpg">
</div>
<div class="container header-text">
    <div class="row">
        <h1 class="col">Services</h1>
    </div>
</div>
<div class="whole-page pb-5">
    <section class="pt-5">
        <div class="container pt-5">
            <div class="row pt-5">
                <div class="col-6 pe-5">
                    <h2 class="mb-4">Music Production</h2>
                    <p>Sound quality is not just balanced volume and EQ. 
                        It's a feeling. To enhance that groove, harmonize those vocals, 
                        or make that bassline resonate right in your chest, 
                        takes strong attentiveness and a bit of finesse. Now, pack your 
                        artist and let's hit the studio!
                    </p>
                    <div class="row text-row2">
                        <div class="col-8">
                            <span class="tick">
                                <i class="fa-sharp fa-solid fa-check"></i>
                            </span>
                            Production
                        </div>
                        <div class="col-4">
                            <span class="tick">
                                <i class="fa-sharp fa-solid fa-check"></i>
                            </span>
                            Live mixing
                        </div>
                    </div>
                    <div class="row text-row2">
                        <div class="col-8">
                            <span class="tick">
                                <i class="fa-sharp fa-solid fa-check"></i>
                            </span>
                            Studio recording
                        </div>
                        <div class="col-4">
                            <span class="tick">
                                <i class="fa-sharp fa-solid fa-check"></i>
                            </span>
                            Mixing and mastering
                        </div>
                    </div>
                </div>
                <div class="col-5 ps-5">
                    <div class="audio-container">
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7LnZD8RwMjT0YIs9iSbeUS?utm_source=generator" width="100%" height="130" frameBorder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </div>
                    <div class="audio-container">
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3YNlIYE9JhOKccxbgwa3wQ?utm_source=generator" width="100%" height="130" frameBorder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </div>
                    <div class="audio-container">
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3RHO82w8aYvrQJ1C7XGa4d?utm_source=generator" width="100%" height="130" frameBorder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container pb-5">
            <div class="row line-space">
                <div class="col-6 pe-5">
                    <h2 class="mb-4">Video Production</h2>
                        <p>In this day and age audio means very little without video. Music needs visual content. 
                            If we capture the true nature of the artist, we will capture the fans.
                        </p>
                    <div class="row text-row2">
                        <div class="col-7">
                            <span class="tick">
                                <i class="fa-sharp fa-solid fa-check"></i>
                            </span>
                            Music videos
                        </div>
                        <div class="col-5">
                            <span class="tick">
                                <i class="fa-sharp fa-solid fa-check"></i>
                            </span>
                            Lyric videos
                        </div>
                    </div>
                    <div class="row text-row2">
                        <div class="col-7">
                            <span class="tick">
                                <i class="fa-sharp fa-solid fa-check"></i>
                            </span>
                            Live session videos
                        </div>
                        <div class="col-5">
                            <span class="tick">
                                <i class="fa-sharp fa-solid fa-check"></i>
                            </span>
                            Introduction videos
                        </div>
                    </div>
                    <div class="row text-row2">
                        <div class="col-7">
                            <span class="tick">
                                <i class="fa-sharp fa-solid fa-check"></i>
                            </span>
                            Animation
                        </div>
                        <div class="col-5">
                            <span class="tick">
                                <i class="fa-sharp fa-solid fa-check"></i>
                            </span>
                            Editing
                        </div>
                    </div>
                </div>
                <div class="col-5 ps-5">
                    <iframe class="video-embed" src="https://www.youtube.com/embed/GUX85O1YHPg?si=kk1NDVtAMA9GIgLy&amp;controls=0&autoplay=1&mute=1&loop=1" title="YouTube video player" frameborder="0" allow="fullscreen; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row line-space">
                <div class="col-6 pe-5">
                    <h2 class="mb-4">Artist Concept</h2>
                        <p>An artist is a brand. A brand needs material for marketing on all different platforms. 
                            A brand needs a concept. To be recognizable to potential fans it's necessary to build 
                            an image with a consistent  design of said material. 
                            <br/>                       
                            Enough of the boring talk… Throw us your absolute wildest and craziest 
                            ideas and let's make a logo no one will ever forget!                        
                        </p>
                    <div class="row text-row2">
                        <div class="col-8">
                            <span class="tick">
                                <i class="fa-sharp fa-solid fa-check"></i>
                            </span>
                            Logos
                        </div>
                        <div class="col-4">
                            <span class="tick">
                                <i class="fa-sharp fa-solid fa-check"></i>
                            </span>
                            Merch Design
                        </div>
                    </div>
                    <div class="row text-row2">
                        <div class="col-8">
                            <span class="tick">
                                <i class="fa-sharp fa-solid fa-check"></i>
                            </span>
                            Banners
                        </div>
                        <div class="col-4">
                            <span class="tick">
                                <i class="fa-sharp fa-solid fa-check"></i>
                            </span>
                            Album Art
                        </div>                    
                    </div>
                </div>
                <div class="col-5 ps-5 ">
                    <img class="page-img" src="assets\images\Collage31.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row line-space">
                <div class="col-6 pe-5">
                    <h2 class="mb-4">Artist Content</h2>
                        <p>Post, post, post! We need fans! An audience wants to see all of the artist before, 
                            during, after and inbetween the shows and releases. We have to trigger the algorithms on all platforms. 
                            How do we do that? Great content!                        
                        </p>
                    <div class="row text-row2">
                        <div class="col-8">
                            <span class="tick">
                                <i class="fa-sharp fa-solid fa-check"></i>
                            </span>
                            Photography
                        </div>
                        <div class="col-4">
                            <span class="tick">
                                <i class="fa-sharp fa-solid fa-check"></i>
                            </span>
                            Showreels
                        </div>
                    </div>
                    <div class="row text-row2">
                        <div class="col-8">
                            <span class="tick">
                                <i class="fa-sharp fa-solid fa-check"></i>
                            </span>
                            Posters
                        </div>
                        <div class="col-4">
                            <span class="tick">
                                <i class="fa-sharp fa-solid fa-check"></i>
                            </span>
                            Trailers
                        </div>                    
                    </div>
                </div>
                <div class="col-5 ps-5">
                    <img class="page-img" src="assets\images\1.png" alt="">
                </div>
            </div>
        </div>
    </section>
</div>