/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background-color: black;
}

.column {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
}
