<div class="video-container container">
    <video appVideo class="bg-video" autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" loop>
        <source src="assets/videos/IrossoundsAnimation2.mp4" type="video/mp4" />
    </video> 
</div>
<div class="container header-text">
    <div class="row">
        <h1 class="col">Videos</h1>
    </div>
</div>
<section>
    <div class="whole-page pt-5 pb-5">
        <div class="container mb-5">
            <div class="row">
                <h1>
                    Featured Artists
                </h1>
                <h3>
                    This channel is focused on live performances with artists of different styles and genres.
                </h3>
            </div>
        </div>
        <div class="container">
            <div class="row mt-5 mb-5 pt-5 pb-5">
                <div class="col-6">
                    <h2>
                        Los Culitos Chicos - No Quiero Hacer Nada
                    </h2>
                    <p>
                        Live session
                    </p>
                </div>
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/9l4OZcPM-2w?si=RjhfwEtqxO3_CGRu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row mt-5 mb-5 pt-5 pb-5">
                <div class="col-6">
                    <h2>
                        Lion Family Band - The Line feat. UrbanRoots
                    </h2>
                    <p>
                        Rooftop live session
                    </p>
                </div>
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/2UgPmLWMbkQ?si=YIe267HyOIDJMh1j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row mt-5 mb-5 pt-5 pb-5">
                <div class="col-6">
                    <h2>
                        UrbanRoots - Burn Fire Burn
                    </h2>
                    <p>
                        Live session at Stone Bcn
                    </p>
                </div>
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/kGUk5QTBs8c?si=aBGuhrPRco7Onmto" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row mt-5 mb-5 pt-5 pb-5">
                <div class="col-6">
                    <h2>
                        Señor R - Música feat. Marci on guitar
                    </h2>
                    <p>
                        Live session
                    </p>
                </div>
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/BzfxPlr-N4o?si=LS8uYOAWFtsBpIY4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 text-center mt-2 mb-2">
                <button class="btn btn-danger">Watch more</button>
            </div>
        </div>
    </div>
</section>